<input id="photo" type="file" name="photo">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="js/add_photo.js"></script>
<section id="preview"></section>
