<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
    <title>Danstagramm</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <header>
            <h1>DANSTAGRAMM</h1>
            <% if session[:logged_in] %>
              <a href="/users/logout/"><button class="btn" type="button" name="button">Log Out</button></a>
            <% else %>
              <a href="/users/"><button class="btn" type="button" name="button">Log In or Sign Up</button></a>
            <% end %>
          </header>
          <%= yield %>
        </div>

      </div>

    </div>

  </body>
</html>
